/* --- logo animation --- */
.logo-border {
  animation: roll 2s 2;
  transform: rotate(-45deg);
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--TOP-PARAGRAPH ANIMATION MAIN PORTFOLIO--*/
/* --- first line --- */
/*.type {
    animation: typewriter 7s steps(50) 1s 2 normal both, 
    cursor 500ms infinite normal;
}

@keyframes typewriter {
    from {
        width: 0rem;
    }
    to {
          width: 18rem;
    }
}*/

/* --- second  line --- 
.type-2 {
  animation: typewriter 4s steps(128) 1s 1 normal both, 
  cursor 500ms infinite normal;
}

@keyframes typewriter {
  from {
      width: 0rem;
  }
  to {
        width: 18rem;
  }
}
*/