* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Big Shoulders Display', cursive;
  font-style: italic;
  font: bold;
  font-weight: 800;
}

body {
  background-color: #011627;
  width: 100vw;
}

/* ---  my projects section  --- */
.container {
  width: 100vw;
  height: 1100px;
}

.ribbon-3 {
  width: 100vw;
  height: 100px;
  background-color: #FF8811;
  position: absolute;
  margin-top: 80px;
}

.ribbon-3 p {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  color: #fdfffc;
}

.projects-grid {
  width: 98vw;
  height: 800px;
  position: absolute;
  margin-top: 250px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

#project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* it was necessary for the animation */
  /* ---  animation slideshow for project 1 --- */
  /* ---  animation slideshow for project 2 --- */
  /* ---  animation slideshow for project 3 --- */
  /* ---  animation slideshow for project 4 --- */
  /*this is btn under each project's browser*/
  /* ---"My work" banner--- */
}

#project #browser {
  width: 600px;
  height: 300px;
  overflow: hidden;
  margin-top: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #fdfffc;
  -webkit-box-shadow: -10px 10px 5px #E71D36;
          box-shadow: -10px 10px 5px #E71D36;
}

#project #browser:hover {
  -webkit-box-shadow: -20px 20px 10px #FF8811;
          box-shadow: -20px 20px 10px #FF8811;
  cursor: pointer;
}

#project .one,
#project .two,
#project .three,
#project .four {
  width: 600px;
  height: 300px;
  overflow: hidden;
  margin-top: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #fdfffc;
  position: relative;
}

#project .one img {
  position: absolute;
  top: 100%;
  left: 0%;
  -webkit-animation: 12s autoplay infinite ease-in-out;
          animation: 12s autoplay infinite ease-in-out;
}

@-webkit-keyframes autoplay {
  0% {
    top: 100%;
  }
  4% {
    top: 0%;
  }
  33.33% {
    top: 0%;
  }
  37.33% {
    top: -100%;
  }
  100% {
    top: -100%;
  }
}

@keyframes autoplay {
  0% {
    top: 100%;
  }
  4% {
    top: 0%;
  }
  33.33% {
    top: 0%;
  }
  37.33% {
    top: -100%;
  }
  100% {
    top: -100%;
  }
}

#project .one > *:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#project .one > *:nth-child(2) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#project .one > *:nth-child(3) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

#project .two img {
  position: absolute;
  right: 100%;
  top: 0%;
  -webkit-animation: 9s autoplay2 infinite ease-in-out;
          animation: 9s autoplay2 infinite ease-in-out;
}

@-webkit-keyframes autoplay2 {
  0% {
    right: 100%;
  }
  4% {
    right: 0%;
  }
  33.33% {
    right: 0%;
  }
  37.33% {
    right: -100%;
  }
  100% {
    right: -100%;
  }
}

@keyframes autoplay2 {
  0% {
    right: 100%;
  }
  4% {
    right: 0%;
  }
  33.33% {
    right: 0%;
  }
  37.33% {
    right: -100%;
  }
  100% {
    right: -100%;
  }
}

#project .two > *:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#project .two > *:nth-child(2) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

#project .two > *:nth-child(3) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

#project .three img {
  position: absolute;
  left: 100%;
  top: 0%;
  -webkit-animation: 8s autoplay3 infinite ease-in-out;
          animation: 8s autoplay3 infinite ease-in-out;
}

@-webkit-keyframes autoplay3 {
  0% {
    left: 100%;
  }
  4% {
    left: 0%;
  }
  33.33% {
    left: 0%;
  }
  37.33% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes autoplay3 {
  0% {
    left: 100%;
  }
  4% {
    left: 0%;
  }
  33.33% {
    left: 0%;
  }
  37.33% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

#project .three > *:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#project .three > *:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#project .three > *:nth-child(3) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#project .three > *:nth-child(4) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

#project .four img {
  position: absolute;
  top: 100%;
  left: 0%;
  -webkit-animation: 20s autoplay infinite ease-in-out;
          animation: 20s autoplay infinite ease-in-out;
}

@keyframes autoplay {
  0% {
    top: 100%;
  }
  4% {
    top: 0%;
  }
  33.33% {
    top: 0%;
  }
  37.33% {
    top: -100%;
  }
  100% {
    top: -100%;
  }
}

#project .four > *:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#project .four > *:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

#project .four > *:nth-child(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

#project .four > *:nth-child(4) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

#project .moreAbout {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  margin-top: 15px;
  justify-self: flex-start;
  margin-left: 180px;
  background-color: #FF8811;
  text-align: center;
  padding-top: 10px;
  color: #fdfffc;
}

#project .moreAbout:hover {
  background-color: #E71D36;
  cursor: pointer;
}

#project .projectBanner {
  width: 200px;
  height: 50px;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 80px;
  border-radius: 20px;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  background-color: #fdfffc;
  -webkit-box-shadow: -8px 8px 3px #E71D36;
          box-shadow: -8px 8px 3px #E71D36;
  color: #2EC4B6;
}

.projectBanner:hover {
  background-color: #FF8811;
}

/* ---- First Project ---- */
.first-project {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.second-project {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.third-project {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.fourth-project {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.top {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.top img {
  width: 200px;
  height: 50px;
}

/* --- logo animation --- */
.logo-border {
  -webkit-animation: roll 2s 2;
          animation: roll 2s 2;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes roll {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*--TOP-PARAGRAPH ANIMATION MAIN PORTFOLIO--*/
/* --- first line --- */
/*.type {
    animation: typewriter 7s steps(50) 1s 2 normal both, 
    cursor 500ms infinite normal;
}

@keyframes typewriter {
    from {
        width: 0rem;
    }
    to {
          width: 18rem;
    }
}*/
/* --- second  line --- 
.type-2 {
  animation: typewriter 4s steps(128) 1s 1 normal both, 
  cursor 500ms infinite normal;
}

@keyframes typewriter {
  from {
      width: 0rem;
  }
  to {
        width: 18rem;
  }
}
*/
.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ---- main slideshow ---- */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vw;
  height: 420px;
  margin-top: 25px;
}

.slider {
  width: 650px;
  height: 340px;
  display: block;
  overflow: hidden;
  position: absolute;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1;
}

.slider img {
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-animation: 12s autoplay infinite ease-in-out;
          animation: 12s autoplay infinite ease-in-out;
}

@keyframes autoplay {
  0% {
    top: 100%;
  }
  4% {
    top: 0%;
  }
  33.33% {
    top: 0%;
  }
  37.33% {
    top: -100%;
  }
  100% {
    top: -100%;
  }
}

.slider > *:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.slider > *:nth-child(2) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.slider > *:nth-child(3) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.banner-1,
.banner-2 {
  width: 220px;
  height: 60px;
  border: 1px solid #2ec4b6;
  border-radius: 20px;
  -webkit-box-shadow: -5px 5px 5px #e71d36;
          box-shadow: -5px 5px 5px #e71d36;
  background-color: #fdfffc;
  font-size: 16px;
  color: #011627;
  -ms-flex-item-align: end;
      align-self: flex-end;
  z-index: 2;
}

.banner-1 {
  margin-top: 40px;
  margin-right: 100px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
}

.banner-2 {
  margin-right: 80px;
  text-align: center;
  padding: 10px;
}

/* ---- End of main slideshow ---- */
/* ---header ---*/
#one {
  width: 100vw;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  width: 500px;
  height: 60px;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #ff8811;
  border-radius: 50px;
  text-align: center;
  line-height: 60px;
  color: #fdfffc;
  font-size: 32px;
}

/* --- logo start ---*/
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140;
  height: 140px;
  margin-left: 30px;
  margin-top: 50px;
  position: relative;
}

.tag-border {
  width: 50px;
  height: 40px;
  margin-top: 5px;
  margin-left: 45px;
  border-top: 3px solid #e71d36;
  border-bottom: 3px solid #e71d36;
  border-right: 3px solid #e71d36;
  position: relative;
  z-index: 1;
}

.logo-border {
  width: 150px;
  height: 100px;
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 15px;
  border: 3px solid #2ec4b6;
  background-color: #ff8811;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 0;
}

/* ---end of logo section ---*/
/*--- CLICK-ITEM back to portfolio option ---*/
.back {
  font-size: 20px;
  margin-top: 20px;
}

.back a {
  text-decoration: none;
  color: #FF8811;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.back a:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #011627;
  font-size: 22px;
}

/* ---right corner ---*/
.right-corner {
  width: 210px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.turquoise-corner {
  width: 100px;
  height: 130px;
  background-color: #0dcbcb;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
  margin-left: 100px;
  z-index: 0;
}

.red-corner {
  width: 100px;
  height: 130px;
  background-color: #e71d36;
  border-radius: 15px;
  margin-top: 65px;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 50px;
  z-index: 10;
}

/* ---End of right corner ---*/
/* --- End of header styling ---*/
/*---- top text section ----*/
.top-text {
  width: 100vw;
  margin-bottom: 20px;
  border: 1px dotted red;
}

.contact {
  font-size: 32px;
  color: #2ec4b6;
  margin-left: 450px;
}

.contact::before {
  content: "<AK>";
  color: orange;
  opacity: 40%;
  font-size: 32px;
  margin-right: 50px;
}

/* ---- type-writer effect ----*/
.computer {
  width: 400px;
  font-size: 26px;
  color: #2ec4b6;
  margin-left: 650px;
  white-space: nowrap;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  overflow: hidden;
  border: 2px solid white;
}

.computer::before {
  content: "<h3>";
  color: orange;
  opacity: 40%;
  font-size: 28px;
  margin-right: 30px;
}

.computer::after {
  content: "</h3>";
  color: orange;
  opacity: 40%;
  font-size: 28px;
  margin-left: 30px;
  padding-top: 20px;
}

.line-3::before {
  content: "</AK>";
  color: orange;
  opacity: 40%;
  font-size: 32px;
  margin-left: 450px;
}

/*--- TOP-TEXT ANIMATION CONTACT-FORM ---*/
.write {
  -webkit-animation: typewriter 4s steps(128) 1s 1 normal both, cursor 500ms infinite normal;
          animation: typewriter 4s steps(128) 1s 1 normal both, cursor 500ms infinite normal;
}

@-webkit-keyframes typewriter {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes typewriter {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

/*---- End of top text section ----*/
/* ---- Form styling ---- */
form {
  width: 1000px;
  height: 550px;
  margin: 0 auto;
  border: 2px solid #e71d36;
  border-radius: 50px;
  background-color: #e71d36;
  color: #fdfffc;
}

.form-group {
  width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

input {
  width: 450px;
  height: 40px;
  border: 1px solid #fdfffc;
  border-radius: 20px;
}

input:focus {
  background-color: rgba(46, 196, 182, 0.8);
}

label {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 8;
}

#message {
  width: 450px;
  border: 1px solid #fdfffc;
  border-radius: 20px;
}

textarea:focus {
  background-color: rgba(46, 196, 182, 0.8);
}

.btn {
  width: 170px;
  height: 40px;
  margin-top: 50px;
  margin-left: 400px;
  text-align: center;
  border-radius: 40px;
  border: 1px solid #2ec4b6;
  background-color: #2ec4b6;
  color: #fdfffc;
  font-size: 20px;
}

.btn:hover {
  background-color: rgba(144, 224, 239, 0.8);
  cursor: pointer;
}

/* --- header ---*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 140px;
}

/* --- logo start ---*/
.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  width: 120;
  height: 140px;
  position: relative;
}

.tag-border {
  width: 30px;
  height: 25px;
  margin-left: 15px;
  border-top: 3px solid #E71D36;
  border-bottom: 3px solid #E71D36;
  border-right: 3px solid #E71D36;
  position: relative;
  z-index: 1;
}

.tag {
  width: 50px;
  margin-left: -25px;
}

.logo-border {
  width: 100px;
  height: 60px;
  margin: 0 auto;
  border-radius: 15px;
  position: absolute;
  border: 3px solid #2EC4B6;
  background-color: #FF8811;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 0;
}

/* ---end of logo section ---*/
/* --- main-menu ---*/
.main-menu {
  margin-top: 20px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 80px;
}

header ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}

header ul li a {
  width: 100px;
  color: #fdfffc;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

ul li:nth-of-type(1) a {
  background-color: #FF8811;
  border: 2px solid #2EC4B6;
  border-radius: 10px;
}

ul li:nth-of-type(2) a {
  background-color: #E71D36;
  border: 2px solid #FF8811;
  border-radius: 10px;
}

ul li:nth-of-type(3) a {
  background-color: #2EC4B6;
  border: 2px solid #E71D36;
  border-radius: 10px;
}

ul li span {
  color: white;
  margin-right: 10px;
}

ul li a:hover {
  color: #011627;
  font-size: 18px;
  opacity: 90%;
}

/* --- end of main-menu ---*/
/* --- top-left-corner start ---*/
/* .corner-top {
  width: 210px;
  height: 200px;
  display: flex;
}

.corner-top-right {
  width: 100px;
  height: 130px;
  background-color: #0DCBCB;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
  margin-left: 100px;
  z-index: 0;
}

.corner-top-left {
  width: 100px;
  height: 130px;
  background-color: #E71D36;
  border-radius: 15px;
  margin-top: 65px;
  position: absolute;
  align-self: flex-end;
  margin-left: 50px;
  z-index: 10;
} */
/* --- End of top-left-corner ---*/
/* --- top-paragraph --- */
.top-paragraph {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio::before {
  content: "<AK>";
  color: orange;
  opacity: 40%;
  font-size: 28px;
}

.portfolio {
  color: #2EC4B6;
  font-size: 32px;
  margin-left: 180px;
}

.line-1::before {
  content: "<h1>";
  color: orange;
  opacity: 40%;
  font-size: 24px;
  margin-right: 30px;
}

.css-typing {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.css-typing p {
  color: #2EC4B6;
  font-size: 22px;
  overflow: hidden;
  white-space: nowrap;
}

.line-1 {
  width: 800px;
  -webkit-animation: type 5s steps(140) 2s 1 normal both;
          animation: type 5s steps(140) 2s 1 normal both;
}

.line-2 {
  margin-left: 100px;
  width: 400px;
  -webkit-animation: type2 3s steps(128) 7s 1 normal both, cursor 500ms infinite normal;
          animation: type2 3s steps(128) 7s 1 normal both, cursor 500ms infinite normal;
}

@-webkit-keyframes type {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes type {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes type2 {
  from {
    width: 0px;
  }
  to {
    width: 380px;
  }
}

@keyframes type2 {
  from {
    width: 0px;
  }
  to {
    width: 380px;
  }
}

.line-2::after {
  content: "</h1>";
  color: orange;
  opacity: 40%;
  font-size: 22px;
  margin-left: 30px;
  padding-top: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.line-4::before {
  content: "</AK>";
  color: orange;
  opacity: 40%;
  font-size: 26px;
  margin-left: 180px;
}

/* --- End of top-paragraph --- */
/* -- bottom-paragraph -- */
/* .bottom-paragraph {
  width: 100vw;
  height: 140px;
  margin-top: 10px;
}

.name {
  color: #2EC4B6;
  font-size: 22px;
  margin-left: 350px;
}

.name::before {
  content: "<position>";
  color: orange;
  opacity: 40%;
  font-size: 32px;
}

.job {
  color: #2EC4B6;
  font-size: 22px;
  margin-left: 650px;
  margin-top: 30px;
}

.position-end {
  margin-left: 380px;
  margin-top: 20px;
}

.position-end::before {
  content: "</position>";
  color: orange;
  opacity: 40%;
  font-size: 32px;
  margin-top: 80px;
}
 */
/* -- End of bottom-paragraph -- */
/* -- social-media bar -- */
.footer {
  width: 100vw;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .icon-bar {
  width: 800px;
  height: 80px;
  background-color: #FF8811;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 40px;
}

.footer a {
  font-size: 25px;
  margin-left: 20px;
  padding: 10px;
  color: #E71D36;
  border-radius: 50%;
  background-color: #fdfffc;
  background-clip: padding-box;
}

.footer p {
  color: #fdfffc;
  margin-right: 40px;
}

/* -- End of social-media bar -- */
/* -- about me section -- */
.about-me {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/backgrounds/pear-4056741_1920.jpg);
  background-size: cover;
  background-position: center;
  /*min-height: 600px;*/
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ribbon-1 {
  width: 100vw;
  height: 100px;
  background-color: rgba(225, 136, 17, 0.5);
  position: absolute;
  margin-top: 80px;
}

.ribbon-1 p {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  color: #fdfffc;
}

.diagonal {
  width: 600px;
  height: 400px;
  background-color: #2EC4B6;
  border: 3px solid #FF8811;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 120px;
  margin-right: 5px;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 0;
}

.straight {
  width: 1000px;
  height: 350px;
  background-color: #FF8811;
  border: 3px solid #2EC4B6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 120px;
  z-index: 1;
}

.straight p {
  color: #fdfffc;
  font-size: 20px;
  padding: 20px 15px;
}

.straight p .first-letter {
  font-size: 40px;
  color: #E71D36;
  padding-left: 20px;
}

/* -- End of about me section -- */
.break {
  width: 100vw;
  height: 200px;
}

/* -- skills & languages section -- */
.skills {
  width: 100vw;
  height: 1100px;
  background-image: url(/images/backgrounds/home-office-1207834_1920.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.ribbon-2 {
  width: 100vw;
  height: 100px;
  background-color: rgba(225, 136, 17, 0.5);
  position: absolute;
  margin-top: 80px;
}

.ribbon-2 p {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  color: #fdfffc;
}

.wrapper {
  position: absolute;
  margin-top: 300px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wrapper .My-languages img {
  width: 550px;
  height: 400px;
}

.wrapper .Programing-skills img {
  width: 550px;
  height: 600px;
}

.center-logo {
  width: 200px;
  height: 200px;
  position: absolute;
  margin-left: 850px;
  margin-top: 850px;
}

.center-logo img {
  width: 180px;
  height: 180px;
  display: block;
}

/* -- End of skills & languages section -- */
/*# sourceMappingURL=style.css.map */